---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Nick Kebbas. Built with help from <a href="https://granularitygames.com">Grit</a> 🪨
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	footer a {
		color: rgb(var(--gray));
	}
</style>
